.search-form{
   
    width: 60vw;
    margin-inline: auto;
    .search-box{
        border-radius: 10px;
        width: 100%;
        height:35px;
        background-color: rgb(242, 240, 255);
        border:1px solid gray;
    }
    input::placeholder {
        font: 1.25rem/3 sans-serif;
        
    }
}